html {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 22px;
    --green: #46B29D;
    --blue: #3333cc;
    --red: #DE5B49;
    --lightGrey: #f2f2f2;
    --night: #202060;
    --pink: #ffb3ff;
    --lightRed: #ff6666;
}

.box {
    overflow-wrap: break-word;
    overflow-y: auto;
    border-style: solid;
    border-radius: 3px;
    text-align: left;
}

.box-editor {
    position: relative;
    text-align: center;
    width: 100%;
    height: 15%;
    padding-bottom: 20px;
}

.box-viewer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 58%;
    padding-bottom: 10px;
}

#editor {
    border-color: var(--lightRed);
    background-color: var(--night);
    color: var(--pink);
    width: 70%;
    height: 100%;
    max-width: 300px;
    border-width: 2px;
    font-size: 16px;
}

#viewer {
    display: inline-block;
    border-color: var(--green);
    background-color: var(--lightGrey);
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    width: 80%;
    height: 100%;
    max-width: 350px;
}

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: 1.2;
    text-align: left;
}

.supsub sub {
    top: .3em;
}

#above {
    position: relative;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 30px;
}

#link-button {
    position: relative;
    width: 100%;
    height: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#footer {
    position: relative;
    font-size: 10px;
    height: 10%;
    width: 100%;
    text-align: center;
}

button {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 14px;
    background-color: var(--pink);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--lightRed);
}

button:hover {
    background-color: var(--lightRed);
}

#copy-button {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    height: 80%;
    width: 60%;
    max-width: 200px;
}

#copy-link {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-size: 14px;
    background-color: var(--night);
    color: var(--pink);
    border-radius: 8px;
    width: 60%;
    height: 80%;
    max-width: 200px;
    border-style: solid;
    border-color: var(--lightRed);
    text-align: center;
}

.align-right {
    float: right;
}

#anchor {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
}